.input-group-prepend .input-group-text {
    background-color: #FFFFFF;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.btn-filter:hover {
    background-color: #EBEBEB;
}

.btn-filter:focus {
    background-color: #EBEBEB;
}

.btn-filter:active {
    background-color: #EBEBEB;
}

.btn-filter {
    background: #EBEBEB;
}

.form-control {
    border-left: none;
}