<div class="container-fluid mb-3 mb-md-0">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 p-0">
            <div class="filter-element">
                <img src="assets/images/calendar.png" alt="user-icon" class="mx-2">
                <span>
                    Create on:   Jan/10/21  -   Jan/28/21
                </span>
                <img src="assets/images/down-arrow.png" alt="user-icon" class="float-right mt-2">
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="filter-element">
                <span>
                    Contract type
                </span>
                <img src="assets/images/down-arrow.png" alt="user-icon" class="float-right mt-2">
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="filter-element">
                <span>
                    Contractor Name
                </span>
            </div>
        </div>
        <div class="col-12 col-md-2 col-lg-3 p-0">
            <div class="filter-element">
                <span>
                    Status
                </span>
                <img src="assets/images/down-arrow.png" alt="user-icon" class="float-right mt-2">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <img src="assets/images/trash.png" alt="trash-icon" class="mt-2 d-md-none">
                <span class="clear-filter-text">Clear filters</span>
            </div>
        </div>
    </div>
</div>