<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center my-5">Contracts for </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-search></app-search>
        </div>
        <div class="col-12">
            <app-filter-section></app-filter-section>
        </div>
        <div class="col-12">
            <app-clients-contracts-list></app-clients-contracts-list>
        </div>
    </div>
    <app-help-center-chat></app-help-center-chat>
</div>