<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <img src="assets/images/three-dots.png" alt="three-dots" class="three-dots">
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Edit</a>
        <a class="dropdown-item" href="#">Sign</a>
        <a class="dropdown-item" href="#">View Summary</a>
        <a class="dropdown-item" href="#">Delete</a>
    </div>
</div>