<div class="row">
    <div class="col-12 col-md-7 col-lg-9">
        <div class="input-group h-100">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                <img src="assets/images/search-icon.png" alt="chat-icon">
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Search" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-5 col-md-2 col-lg-1 mt-2 mt-md-0">
        <button type="button" class="btn btn-filter w-100 h-100">
            <img src="assets/images/filter-icon.png" alt="filter-icon" class="filter-icon">
        </button>
    </div>
    <div class="col-7 col-md-3 col-lg-2 mt-2 mt-md-0">
        <app-add-new-hire></app-add-new-hire>
    </div>

</div>
